<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>消费者首页</title>
</head>
<body>
<form action="/consumer/registerUser" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="submit" value="register">
</form>
</body>
</html>