<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/accounts/loginUser" method="post">
    {% csrf_token %}
    <label>U:</label><input type="text" name="username"><br><br>
    <label>P:</label><input type="password" name="password"><br><br>

    <input type="submit" value="log-now">
</form>
</body>
</html>