<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>register</title>
</head>
<body>
<form action="/accounts/registerUser" method="post">
    {% csrf_token %}
    <label>U：</label><input type="text" name="username"><br><br>
    <label>P：</label><input type="password" name="password"><br><br>
    <label>E：</label><input type="text" name="email"><br><br>
    <input type="submit" value="reg-now">
</form>
</body>
</html>