<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ poll.question }}</h1>
{% comment %}{% if poll.choice_set.all %}
    {% for choice in poll.choice_set.all %}
        <li>choice.choice_text:{{ choice }}</li>
{% endcomment %}{% comment %}----这里之所以能够直接使用choice就能直接输出choice_text，是因为moels里面的__unicode__方法！  --{% endcomment %}{% comment %}
    {% endfor %}
{% endif %}{% endcomment %}


{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
    {% csrf_token %}
    {% for choice in poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
    {% endfor %}

<input type="submit" value="vote">
</form>

</body>
</html>