<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
</head>
<body>
{% if latest_poll_lists %}
    <ul>
        {% for poll in latest_poll_lists %}
                <li>question:<a href="{% url 'polls:details' poll.id %}">{{ poll.question }}</a> <span>-----发布于---{{ poll.pub_date.year }}年{{ poll.pub_date.month }}月{{ poll.pub_date.day }}日</span></li>
        {% endfor %}
    </ul>
{% else %}
    <p>NO polls are availble</p>
{% endif %}
</body>
</html>