<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ poll.question }}</h1>

<ul>
    {% comment %}奇怪，在这里访问的时候，poll.choice_set.all的时候不需要添加双括号（）{% endcomment %}
    {% for choice in poll.choice_set.all %}
        <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
    {% endfor %}
</ul>

<a href="{% url 'polls:details' poll.id %}">Vote again?</a>
</body>
</html>