<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% include "common/nav.html" %}
    <form action="search" method="post">
        <input type="text" name="q">
        <input type="submit" value="search">
    </form>
</body>
</html>